/*body, html {*/
/*    width: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: Lato, "Helvetica Neue", helvetica, sans-serif;*/
/*    !*background-color: black;*!*/
/*    !*background: linear-gradient(to bottom right, #000000, #001a2c);*!*/
/*    !* background-color: #0d1117; !* Similaire au mode sombre de GitHub *!*!*/
/*    background-color: #0a0b17;*/
/*    !* Bleu-noir avec légère teinte violette * vrm pas mal/*/


/*       !*background-image: url("../img/sky.jpeg");*!*/
/*    !*background-size: cover;*!*/
/*    !*background-repeat: no-repeat;*!*/
/*    !*height: 100vh;*!*/
/*}*/


body, html {
    width: 100%;
    min-height: 100vh; /* Garantit une hauteur minimale */
    margin: 0;
    padding: 0;
    font-family: Lato, "Helvetica Neue", helvetica, sans-serif;
    background-color: #0a0b17;
    display: flex;
    flex-direction: column; /* Organisation verticale */
           background-image: url("../img/blue.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 100vh;*/

    /* Pour éviter la répétition du dégradé sur les pages longues */
    /*background: linear-gradient(to bottom,*/
    /*#0a0b17, !* Couleur foncée de départ (votre couleur actuelle) *! #06cfed, !* Bleu plus profond au milieu *! #000000, !* Bleu plus intense *! #000000 !* Bleu foncé en bas *!*/
    /*) fixed;*/

}

main {
    flex: 1;
    margin-bottom: 7vh;
}

/* index */

nav {
    display: flex;
    justify-content: space-between;
    /*background-color: black;*/
    color: white;
    align-items: center;
    width: 100%;
}


.texteTitre {
    font-family: 'ArtBrush', sans-serif;
    font-size: 3.5vh;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 5px #00d9ff,
    0 0 10px #00d9ff,
    0 0 20px #00d9ff,
    0 0 40px #00d9ff;
    animation: blink 1.5s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.navbar {
    font-size: 20px;
    display: flex;
    animation: fadeIn 0.3s ease-out;
}

.navbar div {
    margin-right: 50px;
    padding: 10px;
    height: 5vh;
    display: flex;
    align-items: center;
}

.navbar div:last-child {
    margin-right: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar div:hover {
    /*background-color: #1f2023;*/
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #08a5ea,
    0 0 30px #08a5ea,
    0 0 40px #08a5ea;
}


.burger-menu {
    display: none;
    font-size: 3vh;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#divFooter {
    /*background-color: #0a0b17;*/
    /*background-image: url("../img/blue.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#divFooter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #00d9ff;
    box-shadow: 0 0 5px #00d9ff,
    0 0 10px #00d9ff,
    0 0 20px #00d9ff;
    animation: blink 1.5s infinite alternate;
}


#github, #linkedin, #mailIcon {
    height: 30px;
}

h1 {
    color: white;
    font-size: 3vh;
    text-align: center;
    width: 100%;
}

.presentation {
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    flex-direction: column;
    /*margin: 15vh auto;*/
    width: 80%;
    max-width: 1200px;
    margin: 20vh auto; /* Augmentation des marges verticales */

}

.statut {
    font-size: 2vh;
    text-align: center;
    width: 90%;
    max-width: 590px;
    margin: 0 auto;
}

.titreProjetVoirPlus a {
    color: white;
    text-decoration: none;
}

.titreMesProjets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    /*margin-left: auto; !* Place la div à droite *!*/
    /*margin-right: 0; !* S'assure qu'elle reste collée à droite *!*/
    box-sizing: border-box;
}

#buttonPlus {
    /*margin-left: auto; !* Pousse le bouton tout à droite *!*/
    color: white;
    text-decoration: none;
    padding: 15px 12px;
    border-radius: 999rem;
    background-color: rgba(0, 217, 255, 0.1);
    box-shadow: 0 0 5px #00d9ff;
    transition: all 0.3s ease;
    font-size: 1.5vh;
    gap: .8em;
}

h3 {
    color: white;
    font-size: 3vh;
    margin: 0;
}

#buttonPlus:hover {
    background-color: rgba(0, 217, 255, 0.2);
    box-shadow: 0 0 10px #00d9ff;
    text-shadow: 0 0 5px #fff;
}

.mesProjets {
    display: flex;
    justify-content: space-evenly;
}

.mesProjets div {
    padding: 10px;
    border-radius: 10px;
    height: 3vh;
    box-shadow: 0 0 5px #00d9ff,
    0 0 10px #00d9ff,
    0 0 15px #00d9ff;
    transition: box-shadow 0.3s ease;
    width: 200px;
    text-align: center;
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mesProjets div:hover {
    /*box-shadow: 0 0 10px #00d9ff,*/
    /*0 0 20px #00d9ff,*/
    /*0 0 30px #00d9ff;*/
    background-color: rgba(0, 217, 255, 0.1);
    box-shadow: 0 0 10px #00d9ff,
    0 0 20px #00d9ff,
    0 0 30px #00d9ff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.mesProjets a:hover {
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #08a5ea,
    0 0 30px #08a5ea,
    0 0 40px #08a5ea;
}

.projet1 a, .projet2 a, .projet3 a, .projet4 a {
    text-decoration: none;
    color: white;
}

.descriptionProjets {
    color: white;
    padding: 0 20px;
    margin-bottom: 40px;
}

.projetsCompetences {
    display: flex;
    color: white;
    margin-bottom: 20vh;
    text-align: center;
    border-radius: 10px;
    height: 25vh;
    box-shadow: 0 0 5px #00d9ff,
    0 0 10px #00d9ff,
    0 0 15px #00d9ff;
    transition: box-shadow 0.3s ease;
    align-items: center;
    font-size: 1.5vh;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #0a0b17;

}

.projetsCompetences div {
    margin: 50px;
}


.projetsExemples {
    margin-bottom: 20vh;

}

/* A Propos */
.containerGlobal {
    color: white;
    padding: 0 20px;
    font-size: 27px;
    margin-right: 127px;
    margin-left: 127px;
}

.titreAPropos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15vh auto;
}

.texte {
    /*!* Gestion du débordement et de la coupure des mots *!*/
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;

    /*!* Taille de police adaptative avec minimum et maximum *!*/
    /*font-size: clamp(14px, 1vw + 12px, 18px);*/

    /*!* Espacement des lignes pour améliorer la lisibilité *!*/
    line-height: 1.6;

    /*!* Marges internes pour éviter que le texte touche les bords *!*/
    /*padding: 0 15px;*/

    width: 100%;
    box-sizing: border-box;

    /*!* Marges externes pour centrer le texte si nécessaire *!*/

}

h2 {
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #08a5ea,
    0 0 30px #08a5ea,
    0 0 40px #08a5ea;
}

/* Projet 1*/
.imgProjet {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProjet img {
    border-radius: 1.5rem;
    height: auto;
}

.titreProjet {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5vh auto;
}

@media (max-width: 1300px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 82px;
        background-color: #0a0b17;
        width: 100%;
        animation: fadeIn 0.3s ease-out;
    }

    .burger-menu {
        display: block;
        animation: fadeIn 0.3s ease-out;

    }

    .navbar div:nth-child(n) {
        margin-right: 0;
    }

    .visible {
        display: flex;
    }

    h1 {
        font-size: 3.5vh;
        text-align: center;
        max-width: 590px;
        margin: 0 auto;
    }

    .statut {
        font-size: 30px;
        text-align: center;
        padding-top: 10px;
        max-width: 590px;
        margin: 0 auto;
    }

    .mesProjets {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mesProjets div {
        margin: 10px;
    }

    .titreMesProjets {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 40px;
    }

    #buttonPlus {
        margin-top: 20px;
    }

    .descriptionProjets {
        text-align: center;
    }

    .projetsCompetences {
        flex-direction: column;
        margin-bottom: 20vh;
        min-height: 65vh;
        height: auto;
        overflow-y: auto;
        padding: 15px 10px;
        box-sizing: border-box;
    }

    /* A Propos */
    .texte {
        /*font-size: clamp(13px, 1vw + 11px, 16px);*/
        line-height: 1.5;
        /*padding: 0 10px;*/
    }

    /* Projet 1*/
    .imgProjet {
        width: 100%;
        margin: 10px 0;
    }

    .imgProjet img {
        max-width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    /* Améliorations pour la page contact */
    .divContact {
        margin: 0 auto 10vh auto;
        width: 85%;
        align-items: center;
        justify-content: center;
     }

    .reseauContact {
        /*flex-direction: column;*/
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .reseauContact img {
        padding-right: 0;
        margin-bottom: 10px;
    }

    .reseauContact p,
    .reseauContact a {
        margin: 5px 0;
        font-size: 14px;
    }
}

/*Contact*/
.divContact {
    display: flex;
    /*color: white;*/
    margin-bottom: 20vh;
    text-align: center;
    /*border-radius: 10px;*/
    /*height: 20vh;*/
    /*box-shadow: 0 0 5px #00d9ff,*/
    /*0 0 10px #00d9ff,*/
    /*0 0 15px #00d9ff;*/
    /*transition: box-shadow 0.3s ease;*/
    font-size: 1.5vh;
    margin-right: 20px;
    margin-left: 20px;
    flex-direction: column;

}

.reseauContact {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.reseauContact img {
    padding-right: 20px;
}

.reseauContact a {
    text-decoration: none;
    color: white;
}

#buttonCV {
    color: white;
    text-decoration: none;
    padding: 15px 12px;
    border-radius: 999rem;
    background-color: rgba(0, 217, 255, 0.1);
    box-shadow: 0 0 5px #00d9ff;
    transition: all 0.3s ease;
    font-size: 1.5vh;
    gap: .8em;
    margin-top: 2vh ;
  }

/*projet 2*/
.lien{
    text-decoration: none;
    color: white;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*
Portfolio d'apprentisage
*/
.competence {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #00d9ff, 0 0 10px #00d9ff, 0 0 15px #00d9ff;
    transition: box-shadow 0.3s ease;
    background-color: #0a0b17;

}

.competence:hover {
    box-shadow: 0 0 10px #00d9ff, 0 0 20px #00d9ff, 0 0 30px #00d9ff;
}

.niveau {
    font-weight: bold;
    margin-bottom: 15px;
}

.acquis {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}

.en-cours {
    color: #ffff00;
    text-shadow: 0 0 5px #ffff00;
}

.non-acquis {
    color: #ff6666;
    text-shadow: 0 0 5px #ff6666;
}

.competence h3 {
    font-size: 1.8vh;
    margin-bottom: 10px;
}

.lien{
    font-style: italic;
 }